.plan{
    padding: 80px 0 150px 0;
    background-color: $gray-light-color;
    width: 100%;
    &__container {

    }
    &__header {
        text-align: center;
    }
    &__desc {
        max-width: 555px;
        text-align: center;
    }
}