.subscribe {
    background-color: $gray-color;
    transform: translateY(-50%);
    &__container{
        position: relative;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 240px;       
        padding: 70px 60px;
        border-radius: 10px;
        background-color: white;
    }
    &__title {
        max-width: 370px;
    }
}