.subscribe {
    background-color: $gray-color;
    &__container{
        position: relative;
        transform: translateY(-50%);
        margin-bottom: -140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // min-height: 240px;       
        padding: 70px 58.5px;
        border-radius: 10px;
        background-color: white;
    }
    &__title {
        max-width: 370px;
        font-size: 35px;
        line-height: calc(45/35);
        font-weight: 500;
        color: $heading-color;
    }
    &__desc {
        line-height: 1;
    }
}